# Ficheiros de dependências e builds
node_modules/
dist/
build/
.vscode/
scripts/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ficheiros de ambiente
.env
.env.local
.stylelintrc.json
.eslintrc.json
package-lock.json

# Ficheiros de documentação temporária ou notas de desenvolvimento na raiz.
# Mantém o README.md, mas ignora outros.
*.md
/*.md
!README.md
!LICENCE.md